@charset "utf-8";

#viz {
	width: 900px;
	height: 400px;
	margin: 0px auto;	
	position: relative;
	font-family: "PT Sans";
	font-size: 20px;
	font-weight: bold;
}

.bit {
	width: 32px;
	height: 32px;
	font-family: "PT Sans";
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	box-sizing: border-box;
}

.viz-text {
	position: absolute;
	width: 80px;
	text-align: left;
	color: #bbb;
}
	#op-text {
		color: black;
		text-align: right;
	}
	#S-text {
		top: 104px;
	}
	#j-text {
		top: 139px;
	}
	#result-text {
		top: 190px;
	}

#divider {
	height: 3px;
	background: black;
	position: absolute;
}

/*action pullout stuff*/
#setFlags-input {
	position: fixed;
	bottom: 200px;
	left: 196px;
	width: 0px;
	color: white;
	overflow: hidden;
}
	#setFlags-input input {
		background: black;
		color: white;
		padding: 8px 8px 8px;
	}
	#setFlags-go {
		position: fixed;
		bottom: 200px;
		left: 238px;
		width: 0px;
		color: white;
		overflow: hidden;
	}
		#setFlags-go p {
			padding: 7px 8px 8px;
		}
		
#set-input {
	position: fixed;
	bottom: 173px;
	left: 196px;
	width: 0px;
	color: white;
	overflow: hidden;
}
	#set-input input {
		background: black;
		color: white;
		padding: 6px 8px 5px;
	}
	#set-go {
		position: fixed;
		bottom: 173px;
		left: 228px;
		width: 0px;
		color: white;
		overflow: hidden;
	}
		#set-go p {
			padding: 5px 8px;
		}

#check-input {
	position: fixed;
	bottom: 146px;
	left: 196px;
	width: 0px;
	color: white;
	overflow: hidden;
}
	#check-input input {
		background: black;
		color: white;
		padding: 6px 8px 5px;
	}
	#check-go {
		position: fixed;
		bottom: 146px;
		left: 228px;
		width: 0px;
		color: white;
		overflow: hidden;
	}
		#check-go p {
			padding: 5px 8px;
		}
		
#toggle-input {
	position: fixed;
	bottom: 119px;
	left: 196px;
	width: 0px;
	color: white;
	overflow: hidden;
}
	#toggle-input input {
		background: black;
		color: white;
		padding: 6px 8px 5px;
	}
	#toggle-go {
		position: fixed;
		bottom: 119px;
		left: 228px;
		width: 0px;
		color: white;
		overflow: hidden;
	}
		#toggle-go p {
			padding: 5px 8px;
		}
#clear-input {
	position: fixed;
	bottom: 92px;
	left: 196px;
	width: 0px;
	color: white;
	overflow: hidden;
}
	#clear-input input {
		background: black;
		color: white;
		padding: 6px 8px 5px;
	}
	#clear-go {
		position: fixed;
		bottom: 92px;
		left: 228px;
		width: 0px;
		color: white;
		overflow: hidden;
	}
		#clear-go p {
			padding: 5px 8px;
		}
		
/*all action pullout (error) stuff here*/
.err {
	position: fixed;
	color: red;
}
#setFlags-err {
	bottom: 200px;
	left: 282px;
	padding: 8px 0px 7px;
}
#set-err {
	bottom: 173px;
	left: 272px;
	padding: 5px 0px;
}
#check-err {
	bottom: 146px;
	left: 272px;
	padding: 5px 0px;
}
#toggle-err {
	bottom: 119px;
	left: 272px;
	padding: 5px 0px;
}
#clear-err {
	bottom: 92px;
	left: 272px;
	padding: 5px 0px;
}
#lsone-err {
	bottom: 60px;
	left: 201px;
	padding: 8px 0px 7px;
}