@charset "utf-8";

#actions { height: 121px; width: 150px; }
	#actions-hide {
		padding: 37px 15px 38px 14px;
	}

/*all action pullout (input) stuff here*/
#sample1 {
	position: fixed;
	bottom: 150px;
	left: 200px;
	width: 0px;
	background: #777;
	color: white;
	overflow: hidden;
}

#sample2 {
	position: fixed;
	bottom: 150px;
	left: 355px;
	width: 0px;
	background: #777;
	color: white;
	overflow: hidden;
}

#sample3 {
	position: fixed;
	bottom: 150px;
	left: 510px;
	width: 0px;
	background: #777;
	color: white;
	overflow: hidden;
}

#sample4 {
	position: fixed;
	bottom: 150px;
	left: 665px;
	width: 0px;
	background: #777;
	color: white;
	overflow: hidden;
}

#bfs-input {
	position: fixed;
	bottom: 120px;
	left: 196px;
	background: #777;
	width: 0px;
	overflow: hidden;
}
	#bfs-input input {
		width: 40px;
		background: black;
		color: white;
		padding: 8px;
	}
	#bfs-go {
		position: fixed;
		bottom: 120px;
		left: 228px;
		width: 0px;
		background: #777;
		color: white;
		overflow: hidden;
	}
		#bfs-go p {
			padding: 8px 8px 7px;
		}

#bellmanford-input {
	position: fixed;
	bottom: 90px;
	left: 196px;
	background: #777;
	width: 0px;
	overflow: hidden;
}
	#bellmanford-input input {
		width: 40px;
		background: black;
		color: white;
		padding: 8px;
	}
	#bellmanford-go {
		position: fixed;
		bottom: 90px;
		left: 228px;
		width: 0px;
		background: #777;
		color: white;
		overflow: hidden;
	}
		#bellmanford-go p {
			padding: 8px 8px 7px;
		}

#dijkstra-input {
	position: fixed;
	bottom: 60px;
	left: 196px;
	background: #777;
	width: 0px;
	overflow: hidden;
}
	#dijkstra-input input {
		width: 40px;
		background: black;
		color: white;
		padding: 8px;
	}
	#dijkstra-go {
		position: fixed;
		bottom: 60px;
		left: 228px;
		width: 0px;
		background: #777;
		color: white;
		overflow: hidden;
	}
		#dijkstra-go p {
			padding: 8px 8px 7px;
		}

/*all action pullout (error) stuff here*/
.err {
	position: fixed;
	color: red;
}
#sample-err {
	bottom: 149px;
	left: 201px;
	padding: 8px 0px 7px;
}
#bfs-err {
	bottom: 119px;
	left: 272px;
	padding: 8px 0px 7px;
}
#bellmanford-err {
	bottom: 92px;
	left: 272px;
	padding: 8px 0px 7px;
}
#dijkstra-err {
	bottom: 60px;
	left: 272px;
	padding: 8px 0px 7px;
}

/*all tutorial stuff here*/
#heap-tutorial-1 {
	top: 60px;
	left: 60px;
	width: 250px;
}
#heap-tutorial-2 {
	bottom: 230px;
	left: 60px;
	width: 220px;
}
	#heap-tutorial-2:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#heap-tutorial-3 {
	top: 300px;
	left: 50%;
	width: 200px;
	margin-left: -110px;
}
	#heap-tutorial-3:before {
		bottom: 100%;
		left: 50%;
		border-bottom-color: black;
		margin-left: -10px;
	}
#heap-tutorial-4 {
	bottom: 335px;
	right: 150px;
	width: 200px;
}
	#heap-tutorial-4:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#heap-tutorial-5 {
	bottom: 275px;
	right: 170px;
	width: 180px;
}
	#heap-tutorial-5:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#heap-tutorial-6 {
	bottom: 70px;
	left: 50%;
	width: 220px;
	margin-left: -120px;
}
	#heap-tutorial-6:before {
		top: 100%;
		left: 50%;
		border-top-color: black;
		margin-left: -10px;
	}
#heap-tutorial-7 {
	top: 70px;
	right: 60px;
	width: 150px;
}
	#heap-tutorial-7:before {
		bottom: 100%;
		left: 50%;
		border-bottom-color: black;
		margin-left: -10px;
	}