@charset "utf-8";

/*all action pullout (input) stuff here*/
#samples-submenu {
	position: fixed;
	bottom: 146px;
	left: 196px;
	width: 0px;
	height: 32px;
	overflow: hidden;
}
	#samples-submenu .execAction {
		display: inline-block;
		background: #777;
		margin-right: 3px;
		color: white;
	}
		#samples-submenu .execAction p {
			padding: 8px 8px 7px;
		}

#bfs-input {
	position: fixed;
	bottom: 119px;
	left: 196px;
	background: #777;
	width: 0px;
	overflow: hidden;
}
	#bfs-input input {
		width: 40px;
		background: black;
		color: white;
		padding: 6px 8px 5px;
	}
	#bfs-go {
		position: fixed;
		bottom: 119px;
		left: 228px;
		width: 0px;
		background: #777;
		color: white;
		overflow: hidden;
	}
		#bfs-go p {
			padding: 5px 8px;
		}

#bellmanford-input {
	position: fixed;
	bottom: 92px;
	left: 196px;
	background: #777;
	width: 0px;
	overflow: hidden;
}
	#bellmanford-input input {
		width: 40px;
		background: black;
		color: white;
		padding: 6px 8px 5px;
	}
	#bellmanford-go {
		position: fixed;
		bottom: 92px;
		left: 228px;
		width: 0px;
		background: #777;
		color: white;
		overflow: hidden;
	}
		#bellmanford-go p {
			padding: 5px 8px;
		}

#dijkstra-input {
	position: fixed;
	bottom: 60px;
	left: 196px;
	background: #777;
	width: 0px;
	overflow: hidden;
}
	#dijkstra-input input {
		width: 40px;
		background: black;
		color: white;
		padding: 8px;
	}
	#dijkstra-go1 {
		position: fixed;
		bottom: 60px;
		left: 228px;
		width: 0px;
		background: #777;
		color: white;
		overflow: hidden;
	}
		#dijkstra-go1 p {
			padding: 8px 8px 7px;
		}
	#dijkstra-go2 {
		position: fixed;
		bottom: 60px;
		left: 289px;
		width: 0px;
		background: #777;
		color: white;
		overflow: hidden;
		border-left: none;
	}
		#dijkstra-go2 p {
			padding: 8px 8px 7px;
		}

/*all action pullout (error) stuff here*/
.err {
	position: fixed;
	color: red;
}
#samples-err {
	bottom: 146px;
	left: 728px;
	padding: 8px 0px 7px;
}
#bfs-err {
	bottom: 119px;
	left: 272px;
	padding: 5px 0px;
}
#bellmanford-err {
	bottom: 92px;
	left: 272px;
	padding: 5px 0px;
}
#dijkstra-err {
	bottom: 60px;
	left: 363px;
	padding: 8px 0px 7px;
}

/*all tutorial stuff here*/
#sssp-tutorial-1 {
	top: 60px;
	left: 60px;
	width: 250px;
}
#sssp-tutorial-2 {
	bottom: 200px;
	left: 60px;
	width: 350px;
}
	#sssp-tutorial-2:before {
		top: 100%;
		left: 15%;
		border-top-color: black;
		margin-left: -10px;
	}
#sssp-tutorial-3 {
	top: 400px;
	left: 50%;
	width: 200px;
	margin-left: -110px;
}
	#sssp-tutorial-3:before {
		bottom: 100%;
		left: 50%;
		border-bottom-color: black;
		margin-left: -10px;
	}
#sssp-tutorial-4 {
	bottom: 335px;
	right: 150px;
	width: 200px;
}
	#sssp-tutorial-4:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#sssp-tutorial-5 {
	bottom: 275px;
	right: 170px;
	width: 180px;
}
	#sssp-tutorial-5:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#sssp-tutorial-6 {
	bottom: 70px;
	left: 50%;
	width: 260px;
	margin-left: -142px;
}
	#sssp-tutorial-6:before {
		top: 100%;
		left: 50%;
		border-top-color: black;
		margin-left: -10px;
	}
#sssp-tutorial-7 {
	top: 70px;
	right: 60px;
	width: 150px;
}
	#sssp-tutorial-7:before {
		bottom: 100%;
		left: 50%;
		border-bottom-color: black;
		margin-left: -10px;
	}