@charset "utf-8";
/*00a594*/

#login-screen {
	position: fixed;
	top: 40px;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: -14;
}
	#login-screen ul#instructions {
		width: 550px;
		margin: 0px auto;
		padding: 40px 0px 40px;
		text-align: left;
		font-size: 14px;
		color: white;
	}
		#instructions li {
			list-style-type:square;
			margin-left: 20px;
			padding-bottom: 5px;
		}
	#login-screen form {
		text-align: center;
		padding-top: 40px;
	}
		#login-screen input[type=text] {
			color: #888;
			box-shadow: 0px 0px 3px #929292 inset;
			padding: 7px 10px;
			font-size: 14px;
			margin: 5px;
		}
		#login-screen input[type=password] {
			color: #888;
			box-shadow: 0px 0px 3px #929292 inset;
			padding: 7px 10px;
			font-size: 14px;
			margin: 5px;
		}
		#login {
			background: #00a594;
			padding: 7px 10px;
			color: white;
			font-weight: bold;
			cursor: pointer;
			border-radius: 2px;
			margin-bottom: 10px;
		}
			#login:hover {
				background: black;
			}
		#login-err { color: red; }
		
#result-screen {
	display: none;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 300px;
	width: 500px;
	margin-top: -150px;
	margin-left: -250px;
}
	#result {
		font-size: 18px;
		padding: 0px 0px 40px;
	}
	#try-again {
		display: inline-block;
		display: none;
		padding: 7px 10px;
		color: white;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		border-radius: 2px;
		background: #00a594;
	}
		#try-again:hover {
			background: black;
		}
	#result-note {
		color: #777;
		padding: 10px 0px 0px;
	}
	
#viz {
	display: none;
}
	svg { /*centralise for the test*/
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -450px;
		margin-top: -150px;
	}

#question-text {
	display: none;
	position: fixed;
	top: 40px;
	box-sizing: border-box;
	width: 100%;
	padding: 40px 80px;
	z-index: -10;
	font-size: 16px;
	text-align: center;
	background: #00a594;
	color: white;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

#info {
	display: none;
}
	#student-name {
		position: fixed;
		bottom: 218px;
		right: 60px;
		text-align: right;
		line-height: 100%;
		font-size: 16px;
	}
	
	#attempt-count {
		position: fixed;
		bottom: 198px;
		right: 60px;
		text-align: right;
		line-height: 100%;
		font-size: 16px;
	}
	
	#time-left {
		position: fixed;
		bottom: 152px;
		right: 60px;
		text-align: right;
		line-height: 100%;
		font-size: 30px;
	}
	
	#submit-test {
		position: fixed;
		bottom: 102px;
		right: 60px;
		border-radius: 2px;
		background: #00a594;
		color: white;
		padding: 8px 12px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
	}
		#submit-test:hover { background: black; }

#question-nav {
	display: none;
	width: 100%;
	position: fixed;
	bottom: 42px;
	text-align: center;
	padding: 10px 0px;
	z-index: -11;
	
	background: #00a594;
	color: white;
	font-size: 16px;
	font-weight: bold;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}
	#question-nav a.qnno {
		padding: 0px 10px;
		cursor: pointer;
		opacity: 0.4;
		text-align: center;
		width: 16px;
	}
		#question-nav a.selected {
			position: relative;
			opacity: 1.0;
		}
		#question-nav a.answered {
			opacity: 1.0;
		}
			#question-nav a.selected:before {
				content: " ";
				position: absolute;
				top: -12px;
				left: 8px;
				height: 0px;
				width: 0px;
				border-style:solid;
				border-width:10px;
				border-color: transparent;
				border-top-color: #eee;
			}

#answer-form {
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 120px;
	display: none;
}
	#answer {
		text-align: center;
		box-shadow: 0px 0px 3px #929292 inset;
		padding: 7px 10px;
		font-size: 14px;
	}
	#answer-go {
		color: white;
		padding: 7px 10px;
		margin-left: -1px;
		cursor: pointer;
		background: #00a594;
	}